# Node
node_modules/
**/node_modules/

# Environment files
.env
.env.*
**/.env

# Python
__pycache__/
**/__pycache__/
*.pyc

# Build files
dist/
build/

# Expo
.expo/

# Local database
backend/database/local_db.json

# Uploads
uploads/
**/uploads/

# Virtual environments & secrets
venv/
.venv/
**/venv/
**/*firebase-adminsdk*.json